@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Merienda', cursive;
}

html{
    scroll-behavior: smooth;
}

body{
    
    background: radial-gradient(rgb(131, 131, 131),rgb(19,19,19))    
}



.loading_logo{
    width:100px;
    height: 100px;
    animation: rotation 3s infinite linear;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%)
}

.loading_logo1{
    width:100px;
    height: 100px;
    color: white;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 48%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%)
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @media screen and (max-width:768px) {
      .loading_logo{
          left: 40% !important;
      }
      .loading_logo1{
          top: 60% !important;
      }
  }